{{ define "public/header.html" }}
<div class="app-header" id="header">
    <div class="desktop-toggler">
        <button class="menu-toggler" data-dismiss-class="app-sidebar-toggled" data-toggle-class="app-sidebar-collapsed"
                data-toggle-target=".app" type="button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
    <div class="mobile-toggler">
        <button class="menu-toggler" data-toggle-class="app-sidebar-mobile-toggled" data-toggle-target=".app"
                type="button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>


    <div class="brand">
        <a class="brand-logo" href="index.html">
                    <span class="brand-img">
                        <span class="brand-img-text text-theme">B</span>
                    </span>
            <span class="brand-text">邮小豆</span>
        </a>
    </div>


    <div class="menu">
        <div class="menu-item dropdown">
            <a class="menu-link" data-toggle-class="app-header-menu-search-toggled" data-toggle-target=".app"
               href="#">
                <div class="menu-icon"><i class="bi bi-search nav-icon"></i></div>
            </a>
        </div>
<!--        <div class="menu-item dropdown dropdown-mobile-full">-->
<!--            <a class="menu-link" data-bs-display="static" data-bs-toggle="dropdown" href="#">-->
<!--                <div class="menu-icon"><i class="bi bi-grid-3x3-gap nav-icon"></i></div>-->
<!--            </a>-->
<!--            <div class="dropdown-menu fade dropdown-menu-end w-300px text-center p-0 mt-1">-->
<!--                <div class="row row-grid gx-0">-->
<!--                    <div class="col-4">-->
<!--                        <a class="dropdown-item text-decoration-none p-3 bg-none" href="email_inbox.html">-->
<!--                            <div class="position-relative">-->
<!--                                <i-->
<!--                                        class="bi bi-circle-fill position-absolute text-theme top-0 mt-n2 me-n2 fs-6px d-block text-center w-100"></i>-->
<!--                                <i class="bi bi-envelope h2 opacity-5 d-block my-1"></i>-->
<!--                            </div>-->
<!--                            <div class="fw-500 fs-10px text-white">INBOX</div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="col-4">-->
<!--                        <a class="dropdown-item text-decoration-none p-3 bg-none" href="pos_customer_order.html"-->
<!--                           target="_blank">-->
<!--                            <div><i class="bi bi-hdd-network h2 opacity-5 d-block my-1"></i></div>-->
<!--                            <div class="fw-500 fs-10px text-white">POS SYSTEM</div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="col-4">-->
<!--                        <a class="dropdown-item text-decoration-none p-3 bg-none" href="calendar.html">-->
<!--                            <div><i class="bi bi-calendar4 h2 opacity-5 d-block my-1"></i></div>-->
<!--                            <div class="fw-500 fs-10px text-white">CALENDAR</div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row row-grid gx-0">-->
<!--                    <div class="col-4">-->
<!--                        <a class="dropdown-item text-decoration-none p-3 bg-none" href="helper.html">-->
<!--                            <div><i class="bi bi-terminal h2 opacity-5 d-block my-1"></i></div>-->
<!--                            <div class="fw-500 fs-10px text-white">HELPER</div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="col-4">-->
<!--                        <a class="dropdown-item text-decoration-none p-3 bg-none" href="settings.html">-->
<!--                            <div class="position-relative">-->
<!--                                <i-->
<!--                                        class="bi bi-circle-fill position-absolute text-theme top-0 mt-n2 me-n2 fs-6px d-block text-center w-100"></i>-->
<!--                                <i class="bi bi-sliders h2 opacity-5 d-block my-1"></i>-->
<!--                            </div>-->
<!--                            <div class="fw-500 fs-10px text-white">SETTINGS</div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="col-4">-->
<!--                        <a class="dropdown-item text-decoration-none p-3 bg-none" href="widgets.html">-->
<!--                            <div><i class="bi bi-collection-play h2 opacity-5 d-block my-1"></i></div>-->
<!--                            <div class="fw-500 fs-10px text-white">WIDGETS</div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="menu-item dropdown dropdown-mobile-full">-->
<!--            <a class="menu-link" data-bs-display="static" data-bs-toggle="dropdown" href="#">-->
<!--                <div class="menu-icon"><i class="bi bi-bell nav-icon"></i></div>-->
<!--                <div class="menu-badge bg-theme"></div>-->
<!--            </a>-->
<!--            <div class="dropdown-menu dropdown-menu-end mt-1 w-300px fs-11px pt-1">-->
<!--                <h6 class="dropdown-header fs-10px mb-1">NOTIFICATIONS</h6>-->
<!--                <div class="dropdown-divider mt-1"></div>-->
<!--                <a class="d-flex align-items-center py-10px dropdown-item text-wrap" href="#">-->
<!--                    <div class="fs-20px">-->
<!--                        <i class="bi bi-bag text-theme"></i>-->
<!--                    </div>-->
<!--                    <div class="flex-1 flex-wrap ps-3">-->
<!--                        <div class="mb-1 text-white">NEW ORDER RECEIVED ($1,299)</div>-->
<!--                        <div class="small">JUST NOW</div>-->
<!--                    </div>-->
<!--                    <div class="ps-2 fs-16px">-->
<!--                        <i class="bi bi-chevron-right"></i>-->
<!--                    </div>-->
<!--                </a>-->
<!--                <a class="d-flex align-items-center py-10px dropdown-item text-wrap" href="#">-->
<!--                    <div class="fs-20px w-20px">-->
<!--                        <i class="bi bi-person-circle text-theme"></i>-->
<!--                    </div>-->
<!--                    <div class="flex-1 flex-wrap ps-3">-->
<!--                        <div class="mb-1 text-white">3 NEW ACCOUNT CREATED</div>-->
<!--                        <div class="small">2 MINUTES AGO</div>-->
<!--                    </div>-->
<!--                    <div class="ps-2 fs-16px">-->
<!--                        <i class="bi bi-chevron-right"></i>-->
<!--                    </div>-->
<!--                </a>-->
<!--                <a class="d-flex align-items-center py-10px dropdown-item text-wrap" href="#">-->
<!--                    <div class="fs-20px w-20px">-->
<!--                        <i class="bi bi-gear text-theme"></i>-->
<!--                    </div>-->
<!--                    <div class="flex-1 flex-wrap ps-3">-->
<!--                        <div class="mb-1 text-white">SETUP COMPLETED</div>-->
<!--                        <div class="small">3 MINUTES AGO</div>-->
<!--                    </div>-->
<!--                    <div class="ps-2 fs-16px">-->
<!--                        <i class="bi bi-chevron-right"></i>-->
<!--                    </div>-->
<!--                </a>-->
<!--                <a class="d-flex align-items-center py-10px dropdown-item text-wrap" href="#">-->
<!--                    <div class="fs-20px w-20px">-->
<!--                        <i class="bi bi-grid text-theme"></i>-->
<!--                    </div>-->
<!--                    <div class="flex-1 flex-wrap ps-3">-->
<!--                        <div class="mb-1 text-white">WIDGET INSTALLATION DONE</div>-->
<!--                        <div class="small">5 MINUTES AGO</div>-->
<!--                    </div>-->
<!--                    <div class="ps-2 fs-16px">-->
<!--                        <i class="bi bi-chevron-right"></i>-->
<!--                    </div>-->
<!--                </a>-->
<!--                <a class="d-flex align-items-center py-10px dropdown-item text-wrap" href="#">-->
<!--                    <div class="fs-20px w-20px">-->
<!--                        <i class="bi bi-credit-card text-theme"></i>-->
<!--                    </div>-->
<!--                    <div class="flex-1 flex-wrap ps-3">-->
<!--                        <div class="mb-1 text-white">PAYMENT METHOD ENABLED</div>-->
<!--                        <div class="small">10 MINUTES AGO</div>-->
<!--                    </div>-->
<!--                    <div class="ps-2 fs-16px">-->
<!--                        <i class="bi bi-chevron-right"></i>-->
<!--                    </div>-->
<!--                </a>-->
<!--                <hr class="bg-white-transparent-5 mb-0 mt-2">-->
<!--                <div class="py-10px mb-n2 text-center">-->
<!--                    <a class="text-decoration-none fw-bold" href="#">SEE ALL</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="menu-item dropdown dropdown-mobile-full">
            <a class="menu-link" data-bs-display="static" data-bs-toggle="dropdown" href="#">
                <div class="menu-img online">
                    <img alt="Profile" height="60" src="/static/picture/profile.jpg">
                </div>
                <div class="menu-text d-sm-block d-none">
                    <span class="__cf_email__">

                    </span>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end me-lg-3 fs-11px mt-1">
                <a class="dropdown-item d-flex align-items-center" href="/profile">个人信息 <i
                        class="bi bi-person-circle ms-auto text-theme fs-16px my-n1"></i></a>
                <a class="dropdown-item d-flex align-items-center" href="/mail/list/inbox">收件箱 <i
                        class="bi bi-envelope ms-auto text-theme fs-16px my-n1"></i></a>
                <a class="dropdown-item d-flex align-items-center" href="/profile/setting">设置 <i
                        class="bi bi-gear ms-auto text-theme fs-16px my-n1"></i></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item d-flex align-items-center" href="/user/logout">退出登录 <i
                        class="bi bi-toggle-off ms-auto text-theme fs-16px my-n1"></i></a>
            </div>
        </div>
    </div>


    <form class="menu-search" method="POST" name="header_search_form">
        <div class="menu-search-container">
            <div class="menu-search-icon"><i class="bi bi-search"></i></div>
            <div class="menu-search-input">
                <input class="form-control form-control-lg" placeholder="Search menu..." type="text">
            </div>
            <div class="menu-search-icon">
                <a data-toggle-class="app-header-menu-search-toggled" data-toggle-target=".app" href="#"><i
                        class="bi bi-x-lg"></i></a>
            </div>
        </div>
    </form>

</div>
{{ end }}